<div class="container">
  <div class="row syb-detail">
    <div class="col-md-12 col-xs-12 text-center padTop2"><h3>SYLLABUS DETAILS</h3></div>
  </div>
  <div class="spacer10">&nbsp;</div>
  <div class="row syb-col">
    <div class="col-md-2 syb-img-border">
      <img src="assets/images/art.png" class="img-responsive img-width" alt="title">
    </div>
    <div class="col-md-10">
      <div class="syb-title" *ngFor="let title of syllabus_entries">
        {{title.entries_title}}
      </div>
      <div class="syb-option" *ngFor="let title of syllabus_entries">
        Options: <span class="option" *ngFor="let options of title.entries_option"> {{options}} </span>
      </div>
    </div>
  </div>
  <div class="row user-friendly pull-right">
    <div class="col-md-4">
      <img src="assets/images/download.png" class="img-responsive" alt="title">
    </div>
    <div class="col-md-4">
      <img src="assets/images/print.png" class="img-responsive" alt="title">
    </div>
    <div class="col-md-4">
      <img src="assets/images/report.png" class="img-responsive" alt="title">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs overTab">
          <li class="active">
            <a data-toggle="tab" (click)='tabClick($event)' href="#syllabus">SYLLABUS</a>
          </li>
          <li>
            <a data-toggle="tab" (click)='tabClick($event)' href="#prelease">PRE-RELEASE MATERIALS</a>
          </li>
        </ul>
        <div class="tab-content">
            <div id="syllabus" class="tab-pane fade in active">
              <div class="spacer10">&nbsp;</div>
                <div class="row col-md-12">
                  <p class="com">AT A GLANCE</p>
                </div>
                <div class="row">
                  <div class="col-md-8 separator">
                    <div class="row col-md-5" *ngFor="let details of syllabus_details; let i = index">
                       <div [ngClass]="{'pull-right': i%2}">
                         <div>
                           <h5>Option {{details.option_title}}</h5>
                         </div>
                         <div class="syb-value">
                            <p *ngFor="let lists of details.option_syllabus">{{lists}}</p>
                         </div>
                       </div>
                    </div> 
                    
                  </div>
                  <div class="col-md-1">
                    &nbsp;
                  </div>
                  <div class="col-md-4 padLeft40">
                    <div>
                      <h5>MORE ABOUT THIS SYLLABUS</h5>
                    </div>
                    <div class="row pdf-list row-bottom" *ngFor="let moredetails of syllabus_pdf">
                      <div class="col-md-3 no-gutter-right">
                        <img src="assets/images/pdf.png" class="img-responsive" alt="title">
                      </div>
                      <div class="col-md-8 no-gutter-left">
                        <div class="title">{{moredetails.pdf_title}}</div>
                        <div class="size">PDF - {{moredetails.pdf_size}} </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div id="prelease" class="tab-pane fade">
               <div class="spacer10">&nbsp;</div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="row pdf-list row-bottom" *ngFor="let release of syllabus_release_material">
                      <div class="col-md-1 no-gutter-right">
                        <img src="assets/images/{{release.release_type}}.png" class="img-responsive" alt="title">
                      </div>
                      <div class="col-md-8 no-gutter-left">
                        <div class="title">{{release.release_title}}</div>
                        <div class="size">PDF - {{release.release_size}} </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
  
