.syb-detail {
    
    background-color: #666566;
    
    h4 {
        color: #fff;
    }
    .padTop2 {
        padding: 2%; 
    }
}

.syb-col {
    
    .syb-title{
        font-family: 'ArialMT', 'Arial';
        font-weight: 400;
        color: #000000;
        font-size: 28px;
    }
    .syb-img-border {
        border-radius: 50%;
        border: 1px solid #666566;
        width: 72px;
        height: 72px;
        margin-left: 15px;
    
        img {
            margin-top: 12px;
            width: 42px;
            height: 45px;
        }
    }
    .syb-option {
        span {
            text-transform: uppercase;
            border-right: 1px solid #e4e4e4;
            padding: 5px;
            font-size: 14px;
        }
        span:last-child {
            border-right: none;
        }
    }
}
.user-friendly {
    
    img {
        width: 25px;
        height: 25px;
    }
    div {
        border-right: 1px solid #e4e4e4;
    }
    div:last-child {
        border-right: none;
    }
}

#tab-views {
    
    h6, h5 {
        text-transform: uppercase;
        font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
        font-weight: 700;
        font-size: 14px;
    }
    p {
        font-size: 14px;
        font-family: 'ArialMT', 'Arial';
        font-weight: 400;
        color: #666666;
        margin-top: 0px;
        margin-bottom: 12px;
    }
    .com {
        font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        color: #515151;
    }
    .separator {
        border-right: 1px solid #e4e4e4;
    }
    .padLeft40 {
        padding-left: 40px;
    }
    .row-bottom {
        margin-bottom: 10px;
    }
    .pdf-list {
        
        img {
            width: 48px;
            height: 51px;
        }
        .title {
            font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
            font-weight: 700;
            color: #199ED8;
            text-transform: uppercase;
            font-size: 12px;
        }
        .size {
            font-family: 'Arial Bold', 'Arial';
            font-weight: 400;
            color: #515151;
            font-size: 12px;
        }
    }
    .no-gutter {
        padding-right:0;
        padding-left:0;
    }
    .no-gutter-right {
        padding-right:0;
    }
    .no-gutter-left {
         padding-left:0;
    }
    .floatright {
        float: right;
    }
    .floatleft {
        float: left;
    }
}


