<nav class="navbar navbar-toggleable-md navbar-light bg-faded">  
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a routerLinkActive="dactive" routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/estimatedEntries" class="nav-link">Entries</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/syllabusDetails" class="nav-link">Syllabus</a></li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <span class="dropdown-item" *ngFor="let lang of languageList"  (click)="setLang(lang.value)" [class.active]="isCurrentLang(lang.value)"> {{ lang.text }}</span>
        </div>
      </li>
      </ul>
    </div>
  </div>
</nav>
<section class="component">
    <router-outlet></router-outlet> 
</section>